<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}} <!-- bringing hbs partials -->
        <p>{{Emessage}}</p>
    </div>
    {{>footer}}<!-- acccess to  with two curly brackets-->
</body>

</html>

<!-- treat hbs like html file but dynamic-->